{% block body %}
<section class="slider">
	<div class="container-fluid home-body">
		<div class="row">
			<h2>body</h2>
		</div>

		<!-- @nil Example how to print something from the data that I shared -->
		<div>
			<h4>Total Reviews = {{ reviews.total }}</h4>
		</div>
		<div>
			<h4>Total Services = {{ services.total}}</h4>
		</div>
	</div>
</section>	
<!-- About Page -->
<section class="about">
	<div class="container text-center">
		<h1> {{ about.header.title }}</h1>
			<div class="row">
				<div class="col-sm">
					<h4>{{ about.header.subtitle }}</h4>
					<p> {{ about.section.content }} </p>

				</div>
			</div>
	</div>
</section>
<!-- End About Page -->

<!-- Services Page -->
<section>
			<div class="container text-center">
				<div class="row">
					{% for services in services.data %}
					<!-- Marc this is the boostrap section I added. Also when I remove the second div row, the third service goes back to the left -->
						<div class="row">
							<div class="col-sm-4">
								<h4>{{services.header.title}}</h4>
								<p>{{ services.header.subtitle |striptags | slice(0, 200) | raw}}
								</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>				
</section>
{% endblock %}
<!-- End Services Page -->
<!-- Reviews Page -->
<section class="reviews">
			<div class="container">
					<div class="row">
					<!-- Not sure if I am using the owl carousel theme properly or not, getting used to the coloumns first before making more changes -->
						<div class="owl.carousel owl.theme">
							{% for reviews in reviews.data.items %}
								<div class="row">
									<div class="col-sm-4">
										<h4>{{reviews.content.title}}</h4>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>				
</section>
