{% block stylesheets %}
	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<section class="slider">
	<div class="container-fluid home-body">
		<div class="row">
			<h2>body</h2>
		</div>
		<div class="row">
			<h4>navigation Items ={{ navigation.items|length }}</h4>
		</div>

		<!-- @nil Example how to print something from the data that I shared -->
		<div>
			<h4>Total Reviews = {{ reviews.total }}</h4>
		</div>
		<div>
			<h4>Total Services = {{ services.total}}</h4>
		</div>
	</div>
</section>	
<!-- About Page -->
<section class="about">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm">
				<h1> {{ about.header.title }}</h1>
				<h3>{{ about.header.subtitle }}</h3>
				<p> {{ about.section.content }} </p>

			</div>
		</div>
	</div>
</section>
<!-- End About Page -->

<!-- Services Page -->
<section class="">
	<div class="container text-center">
			<h2>Services</h2>
  				<div class="row align-items-start">
			
					<div class="col">
						{% for services in services.data %}
					{{ services.header.title }}
					<br>
					{{ services.header.subtitle | slice (0, 40) }}
					{% if services.header.subtitle | length > 40 %}...
					{% endif %}
					</div>
					<div class="col">
						One of three columns
					</div>
					<div class="col">
						One of three columns
					</div>
				</div>
					{% endfor %}
	</div>				
</section>
<!-- End Services Page -->
<!-- Reviews Page -->
<section class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<h3>Reviews</h3>
					{% for reviews in reviews.data.items %}
					{{ reviews.content.title }}
					<br>
					{{ reviews.content.content | slice(0, 40) }}
					{% if reviews.content.title | length > 30 %}...
					{% endif %}
					<br>
					{{reviews.provider.company}}

				
			</div>

		</div>
	</div>
					{% endfor %}
</section>

<!-- End Reviews Page -->
{% endblock %}
