
<!-- About Page -->
<section class="homepage_about_us" id="aboutUs">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-push-6 about_us_text">
				<h1> {{ about.header.title }}</h1>
				<h4>{{ about.header.subtitle }}</h4>
			<div class="about_content">
				<p> {{ about.section.content | slice(0, 178) |raw }} </p>
			</div>
			<div  class="about_btn">
				 <a href="{{ path("about_us") }}" class="btn btn-installer btn-main"> READ MORE</a>
			</div>
		</div>
		<div class="col-sm-6 col-sm-pull-6">
			<img src="{{ asset('/images/homepage_background_about.png') }}" alt="about">
		</div>
	</div>
</section>
