<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Company Name</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
         {% for navigation in navigation.items %}
        {% if navigation.linkActive %}
        {% endif %}
              <a id="{{ navigation.slug }}" class="nav_{{ navigation.route }}" href="{{ navigation.href }}">{{ navigation.title }} </a>
          </li>
        {% else %}
								<li class="nav-item dropdown">
									<a
									{% if navigation.href != "/%23" %}  href="{{ navigation.href }}" {% else %} data-toggle="dropdown" {% endif %}
									id="{{ navigation.slug }}" 
									class="nav-link dropdown-toggle nav_{{ navigation.route }} {% if navigation.linkActive %} active select{% endif %}" role="button" aria-haspopup="true" aria-expanded="true">
										{{ navigation.title }}
									</a>
									<ul class="dropdown-menu">
										{% for navigation in navigation.subitems %}
											<li class="{% if navigation.linkActive %} active select{% endif %}">
												<a id="{{ navigation.slug }}" href="{{ navigation.href }}" class="nav_{{ navigation.route }}">
												{{ navigation.title }}</a>
											</li>
										{% endfor %}
									</ul>
								</li>
						{% endfor %}
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Contact</button>
    </form>
  </div>
</nav>